/* 모든 요소 */
a{
    text-decoration: none;
    color:rgb(73, 73, 73);
}
body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}
div{
    display: block;
}
body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* header 요소 */
#header{
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1100px;
    height: 105px;
    background-color: gold;
    border-bottom: 1px solid #351f67;
}

.homepos{
    /* 포지션 앱솔루트와 left(50%) - 마진(사진크기의 1/2)로 중앙배치*/
    position: absolute;
    left: 50%;
    top: 30px;
    margin: 0 0 0 -70px;
    width: 140px;
    height: 90px;
    background-color: greenyellow;
}
#header h1 a{
    display: block;
    background: url(../img/logo.png) center center no-repeat;
    font-size: 0;
    width: 140px;
    height: 47px;
}

/* 유틸 영역 */
/* .util-area:after,
.util-area:before{
    content:'';
    display: table;
} */
/* .util-area:after{
    clear: both;
} */
.util-area {
    content: '';
    /* display: table; */
    position: relative;
    top:0;
    width: 1100px;
    height: 5px;
    margin: 0 auto;
    background-color: crimson;
}
.left-link{
    width: 240px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: .8667em;
    background-color: blueviolet;
}
.left-link a:first-child{
    margin-left: 0;
    background-color: peru;
}
.left-link a{
    margin-left: 20px;
    background-color: peru;
}
/* 
.left-link>a{
    vertical-align: top;
} */
.right-link {
    width: 240px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .8667em;
    background-color: cornflowerblue;
}
.beforelogin{
    position: relative;
    float: right;
}
.r2{
    float: right;
    margin-left: 3px;
}
.beforelogin a{
    margin-left: 20px;
    background-color: peru;
}

.link-area{
    position: relative;
    background-color: crimson;
    width: 1100px;
/* 나중에 height 0px로 */
    height: 5px;
    margin: -5px auto;
}
.link-area a{
    background-color:darkolivegreen;
    position: absolute;
    top: 50px;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-position: center;
}
.sitemap{
    left: 10px;
    background: url(../img/bars-solid.svg) center center no-repeat;
}
.search{
    left: 60px;
    background: url(../img/search-solid.svg) center center no-repeat;
}
.link-ticket{
    right: 60px;
    background: url(../img/calendar-alt-regular.svg) center center no-repeat;
}
.user{
    right: 10px;
    background: url(../img/user-regular.svg) center center no-repeat;
}

/* gnb 부분 */
.gnb{
    width: 100%;
    height: 5px;
    background-color: cadetblue;
}
.gnb-depth1{
    position: relative;
    width: 100%;
    /* 1px > 0px */
    height: 1px; 
    /* 1px > 50px auto 0px auto*/
    margin: 105px auto 0px auto;
    background-color: red;
}
.gnb-movie {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    left: 250px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.mov li:first-child{
    margin-left: 150px;
}
.mov li{
    margin-left: 20px;
}

.gnb-reserve {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    left: 350px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.resv li:first-child{
    margin-left: 270px;
}
.resv li{
    margin-left: 20px;
}

.gnb-theater {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    left: 450px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.tht li:first-child{
    margin-left: 420px;
}
.tht li{
    margin-left: 20px;
}

.gnb-event {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    right: 450px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.evt li:first-child{
    margin-left: 690px;
}
.evt li{
    margin-left: 20px;
}

.gnb-store {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    right: 350px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.gnb-benefit {
    position: absolute;
    width: 80px;
    height: 57px;
    top: -55px;
    right: 250px;
    font-size: 1.8em;
    background-color: rgb(223, 158, 214);
}
.bnft li:first-child{
    margin-left: 910px;
}
.bnft li{
    margin-left: 20px;
}

.gnb-depth1 li ul{
    display: none;
    width: 100%;
    height: 40px;
    border: 0px;
    background-color: rgb(158, 223, 218);
}
.gnb-depth1 li:hover ul{
    display: block;
}
.gnb-depth2 li{
    float: left;
    background-color: deeppink;
    line-height: 40px;
}
.gnb-depth2 li a:hover{
    line-height: 40px;
    background-color: rgb(226, 226, 226);
}





/* container요소 */
.container{
    width:100%;
    min-width: 1100px;
    min-height: 100%;
    margin: -105px 0 -200px 0;
    padding: 105px 0 300px 0;
}
.page-util {
    display: bloack;
    position: static;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}
.inner-wrap{
    width: 1100px;
    margin: 0 auto;

}
.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}
.inner-wrap:after{
    clear: both;
}

.locate{
    float: left;
    height: 40px;
}
.arrimg{
    margin-left: 15px;
}
.locate a{
    position: relative;
    height: 40px;
    margin: 0 0 0 15px;
    padding: 0;
    line-height: 40px;
    color: #666;
}
