@charset "UTF-8";
/* common */
*
{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body,html
{
	width:100%;
	min-height:100%;
	overflow-x:hidden;
}
ul{list-style: none;}
a{text-decoration:none; color:black;}
ol,ul {margin:0; padding:0;}

@media only screen and (max-device-width:1300px) {
	#wrap
	{
	    width:1200px;
	    height:3000px;
	    background-color: #00ffff;
	    margin:0px auto;
	}
	
	#header {
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    min-width: 1100px;
	    height: 91px;
	    background: #fff;
	    border-bottom: 1px solid #351f67;
	}
	#gnb {height: 0px;}
	
	.lnb-area 
	{
	    float: left;
	    width: 200px;
	    height: 620px;
	    padding: 40px 0 0 0;
	}
	#footer
	{
	    width:1300px;
	    height: 205px;
	    background-color:lightgray;
	    position:absolute; 
	    top:1328px; left:0px;
	    text-align:justify;
	}
	#top
	{
	    width:1000px;
	    height:60px;
	    position:absolute;
	    top:138px; left:320px;
	}
}