@charset "UTF-8";
/* 헤더부분 */
@media only screen and (max-device-width:1300px) {
	#header .ci
	{
		position: absolute;
		left: 50%;
		top: 23px;
		width: 140px;
		height: 90px;
		margin: 0 0 0 -70px;
		padding: 0;
	}
	#header .ci a
	{
		display: block;
		width: 140px;
		height: 47px;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		background: url("../img/메가박스.png") center center no-repeat;
	}
	#header .util_area {
	    position: relative;
	    width: 1100px;
	    margin: 0 auto;
	    color: #666;
	}
	#header .util_area::before,#header .util-area::after
	{
		content: '';
		display: table;
	}
	#header .util_area .left_link
	{
		width:250px;
		height: 20px;
		position: absolute;
		top:15px;
		left:0;
		font-size: .8667em;
	}
	#header .util_area .left_link a
	{
		float: left;
		margin-right: 20px;
		vertical-align: top;
	}
	#header .util_area .right_link
	{
		width: 200px;
		height: 20px;
		position: absolute;
		top:15px;
		right:0;
		font-size: .8667em;
	}
	#header .util_area .right_link a
	{
		display: block;
	    float: left;
	    margin-left: 20px;
	    vertical-align: top;
	}
	#header .util_area .right_link>div {float: left;}
	#header .util_area .right_link .before a:first-child {margin-left: 0;}
	#header .util_area .right_link .before a
	{
	    display: block;
	    float: left;
	    margin-left: 20px;
	    vertical-align: top;
	}
	
	#header .link 
	{
		position: relative;
	    width: 1100px;
	    margin: 0 auto;
	}
	#header .link a
	{
		display: block;
	    position: absolute;
	    top: 42px;
	    width: 36px;
	    height: 36px;
	    font-size: 0;
	    line-height: 0;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-color: transparent;
	}
	#header .link a.sitemap
	{
		left:0;
		background-image: url(../img/sitemap.png);
	}
	#header .link a.search
	{
		left:40px;
		background-image: url(../img/search.png);
	}
	#header .link a.ticket
	{
		right: 40px;
		background-image: url(../img/schedule\ .png);
	}
	#header .link a.mypage
	{
		right:0;
		background-image: url(../img/user.png);
	}
}