body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}
div{
    display: block;
}
body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.container{
    width:100%;
    min-width: 1100px;
    min-height: 100%;
    margin: -105px 0 -200px 0;
    padding: 105px 0 300px 0;
}
.page-util {
    display: bloack;
    position: static;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}
.inner-wrap{
    width: 1100px;
    margin: 0 auto;

}
.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}
.inner-wrap:after{
    clear: both;
}

.locate{
    float: left;
    height: 40px;
}
.locate a{
    position: relative;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 40px;
    color: #666;
    text-decoration: none;
}
a:link{
    color: #444;
    
}